{% extends 'base.html.twig' %}

{% block body %}
    {% block navigation %}
        {% set links = [
            {
                label: 'Home',
                path: path(constant('App\\Routing\\Routes::INDEX'), { _fragment: 'top' }),
            },
            {
                label: 'Lorem ipsum',
                path: path(constant('App\\Routing\\Routes::INDEX'), { _fragment: 'lorem' }),
            },
            {
                label: 'Dolor',
                path: path(constant('App\\Routing\\Routes::INDEX'), { _fragment: 'dolor' }),
            },
            {
                label: 'sit est den',
                path: path(constant('App\\Routing\\Routes::INDEX'), { _fragment: 'sit-est' }),
            }
        ] %}
        <nav class="bg-white fixed z-10 inset-x-0">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-20 justify-between">
                    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                        <!-- Mobile menu button -->
                        <button
                            type="button"
                            class="toggle-button relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-secondary-600"
                            data-target-id="mobile-menu"
                        >
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Navigation öffnen</span>
                            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex flex-shrink-0 items-center">
                            <img class="h-6 w-auto" src="{{ asset('images/logo.png') }}" alt="Lohnio Logo">
                        </div>
                        <div class="hidden sm:ml-10 sm:flex sm:space-x-8">
                            {% for link in links %}
                                <a
                                    href="{{ link.path }}"
                                    class="scroll-to {% if link.path == app.request.attributes.string('_route') %}border-secondary-600 text-gray-900{% else %} border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700{% endif %} inline-flex items-center px-1 pt-1 font-montserrat text-base border-b-2"
                                >
                                    {{ link.label }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <button type="button" class="relative inline-flex items-center gap-x-1.5 rounded bg-secondary-500 px-4 py-3 font-montserrat text-base font-bold text-gray-900 shadow-sm hover:bg-secondary-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-600 transition duration-300">
                                Lorem ipsum
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="hidden" id="mobile-menu">
                <div class="space-y-1 pb-4 pt-2">
                    {% for link in links %}
                        <a
                            href="{{ link.path }}"
                            class="scroll-to {% if link.path == app.request.attributes.string('_route') %}text-gray-900 border-secondary-600{% else %}text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700{% endif %} block border-l-4 border-transparent py-2 pl-3 pr-4 font-montserrat text-base"
                        >
                            {{ link.label }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}{% endblock %}

    <button
        class="scroll-up hidden fixed bottom-5 right-5 rounded-full py-2 px-4 inline-flex bg-black text-white font-bold tracking-wide text-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>

        Nach oben
    </button>
{% endblock %}
